{%extends "base.html"%}

{%block title%}Home{%endblock%}

{%block body%}
<!-- Page Header -->

<header class="text-white" style="height: 100%; background-color: #286AC7;">
  <div class="container text-center">
    <img src="{{url_for('static', filename='img/slate-logo-large.png')}}" style="width:60%;">
    <h1>Welcome to the SLATE Sandbox</h1>
    <p class="lead">Launch an interactive SLATE tutorial session</p>
    {% if session.get('is_authenticated') %}
      {% if endpoint %}
      <a href="{{url_for('tutorial')}}" class="btn btn-outline-light">Go to Sandbox</a>
      <a href="{{url_for('delete')}}" class="btn btn-outline-light">Reset</a>
      {% else %}
      <a role="button" href="{{url_for('launch')}}" class="btn btn-outline-light">Click here to get started</a>
      {% endif %}
    {% else %}
    <a role="button" href="{{url_for('login')}}" class="btn btn-outline-light">Login</a>
    <a role="button" href="{{url_for('signup')}}" class="btn btn-outline-light">Sign Up</a>
    {% endif %}
  </div>
</header>
{%endblock%}
