{%extends "base.html"%}

{%block title%}Launch New Sandbox{%endblock%}

{%block body%}
<section id="sandbox">
    <div class="container">
      {% if endpoint %}
      <div>
        <p>Your sandbox is ready! Press "Go to Sandbox" to connect to it, or "Reset" to clean up and start over.</p>
      </div>
      {% else %}
      <div>
        <p>Press "Launch" to start your sandbox.</p>
      </div>
      {% endif %}

      <div>
      {% if endpoint %}
        <a href="{{url_for('tutorial')}}" class="btn btn-md btn-primary">
            Go to Sandbox
        </a>
        <a href="{{url_for('delete')}}" class="btn btn-md btn-primary">
            Reset
        </a>
      {% else %}
        <a href="{{url_for('launch')}}" class="btn btn-md btn-primary">
            Launch
        </a>
      {% endif %}
      </div>
    </div> <!-- container -->
</section>
{%endblock%}
