{%extends "base.html"%}

{%block title%}Launch New Sandbox{%endblock%}

{%block body%}
<section id="sandbox">
    <div class="container">
      {% if endpoint %}
      <div>
        <p> Your sandbox is ready! If it doesn't connect right away, try refreshing the page. </p>
      </div>
      {% else %}
      <div>
        <p> Press "Launch" to start your sandbox, or press "Reset" at any time to clean up and start over. </p>
      </div>
      {% endif %}

      <div>
      {% if endpoint %}
        <a href="{{url_for('tutorial')}}" class="btn btn-md btn-primary">
            Go to Sandbox
        </a>
      {% else %}
        <a href="{{url_for('launch')}}" class="btn btn-md btn-primary">
            Launch
        </a>
      {% endif %}
        <a href="{{url_for('sandbox')}}" class="btn btn-md btn-primary">
            Refresh
        </a>
        <a href="{{url_for('delete')}}" class="btn btn-md btn-primary">
            Reset
        </a>
      </div>
    </div> <!-- container -->
</section>
{%endblock%}
