{%extends "base.html"%}

{%block title%}Sandbox Tutorial{%endblock%}

{%block body%}
<section id="tutorial">
  <div class="w3-row" id="tutorial-container">
    <div class="w3-col m6 w3-center" id="iframe-container" style="height: 100%;">
      <iframe scrolling="yes" align="left" src='{{endpoint}}'></iframe>
    </div>
    <div class="w3-col m6" id="iframe-container-tutorial">
      <!-- <iframe scrolling="yes" align="right" src='{{url_for('tutorial_instructions')}}'></iframe> -->
      <!-- <h2>1</h2> -->

      <span>1.</span><p>The command line interface to the SLATE platform is via the <code>slate</code> executable. You can check that it successfully connects to the SLATE platform and find out what resources the platform offers (in a very basic way) by running</p>

      <pre><code>slate cluster list</code></pre>

      <p>You should see at one cluster in the listing, named 'sandbox'. </p>

      <!-- <h2>2</h2> -->

      <span>2.</span><p>At any time you can get information about the capabilities of the <code>slate</code> client by running it with the <code>--help</code> option. You can also apply this option to its subcommands (and sub-subcommands) to get more information about them. Running</p>

      <pre><code>slate cluster --help</code></pre>

      <p>will show you that the cluster subcommand has several other subcommands besides just <code>list</code>. </p>

      <!-- <h2>3</h2> -->

      <span>3.</span><p>To use the resources on the SLATE platform, you must first belong to a <em>virtual organization</em> (VO). Many users will not ned to create their own VOs, but will join VOs started by their organizations. However, for the tutorial you should just create your own VO. You can do this with the command</p>

      <pre><code>slate vo create vo-name</code></pre>

      <p>where <code>vo-name</code> is the name you choose for your VO. Lowercase letters, numbers and dashes are allowed, although the name may not start or end with a dash. It is recommended to pick something fairly short and descriptive for the VO name, but for the tutorial it doesn't matter very much. Your VO name also needs to be unique; the command <code>slate vo list</code> will show all existing VOs, but since the list may be long it may be useful to use <code>./slate --output custom-columns=:/metadata/name vo list | grep 'vo-name'</code>, replacing <code>vo-name</code> with the name you want to use. If <code>vo-name</code> is printed the name is already in use, otherwise you are free to take it. </p>

      <!-- <h2>4</h2> -->

      <span>4.</span><p>In general you cannot use a cluster connected to SLATE without the permission of the cluster owner. Some cluster owners mark their clusters as allowing access for all VOs, so you can use them right away, while for others you will need to ask the owners for permission. You can check a given cluster's policies with the <code>slate cluster list-allowed-vos</code> command, which takes the cluster to query as an argument. If you run</p>

      <pre><code>slate cluster list-allowed-vos sandbox</code></pre>

      <p>you should see that all VOs are allowed to use the tutorial cluster, including the one you just created. </p>

      <!-- <h2>5</h2> -->

      <span>5.</span><p>Before deploying an application, you probably want to see what applications are available to deploy. SLATE maintains a curated application catalog of applications which are prepared for use with it. You can get a listing of this catalog by running</p>

      <pre><code>slate app list</code></pre>

      <!-- <h2>6</h2> -->

      <span>6.</span><p>You can test out deploying an application by running an instance of the nginx HTTP server (currently found in the development catalog). The first step of deploying an application is configuring the settings you want it to use when it runs. To start this process, you fetch the base configuration for the application from the catalog:</p>

      <pre><code>slate app get-conf nginx &gt; my-nginx-settings.yaml</code></pre>

      <p>This will download the default settings and place them in a file for you to edit locally. </p>

      <!-- <h2>7</h2> -->

      <span>7.</span><p>To customize your application settings, open the fresh file with an editor (vi, emacs, and nano are available in the sandbox environment). You should see that nginx has two settings: <code>Instance</code> and <code>Data</code>. </p>

      <p><code>Instance</code> is the label to use to mark the particular application instance so that you can remember what it was for when you look at it later. It follows the same naming ruls as for VO names, but only needs to be unique within your VO. For the tutorial, this basically means you don't have to worry about uniqueness. </p>

      <p><code>Data</code> is the HTML document that you want ngnix to display. You can change it to whatever you want so that when you run nginx you will be able to see that it is your personalized instance. </p>

      <!-- <h2>8</h2> -->

      <span>8.</span><p>When you have your configuration file ready you can install the application instance:</p>

      <pre><code>slate app install nginx --vo vo-name --cluster sandbox --conf my-nginx-settings.yaml</code></pre>

      <p>It is necessary to specify the application, which VO will own it (since you can belong to several), on which cluster you want it to be deployed, and which configuration file to use. </p>

      <p>Installing may take a few seconds, but you should then get a confirmation that your instance was installed, and the ID that was assigned to it. </p>

      <!-- <h2>9</h2> -->

      <span>9.</span><p>To see your new application instance in the SLATE system you can run</p>

      <pre><code>slate instance list --vo vo-name</code></pre>

      <p>Specifying the VO is not required, but limits the listing to just your instances. This command will show you basic information about which instances you have running where. </p>

      <!-- <h2>10</h2> -->

      <span>10.</span><p>To get more information about your instance, including how to access the page that it is serving, use the <code>slate instance info</code> command, which takes the instance ID as an argument. You should see something like:</p>

      <pre><code>$ slate instance info Instance_586f0424-3097-4b86-8d3b-c4f53ab78e01
Name      Started           VO  Cluster ID
nginx-cnw 2018-Oct-17       cnw sandbox Instance_586f0424-3097-4b86-
          23:04:07                             8d3b-c4f53ab78e01
          UTC

Services:
Name          Cluster IP    External IP     Ports
cnw-nginx-cnw 10.105.79.115 128.135.158.198 80:32113/TCP

Configuration:
Instance: cnw
Data: |-
  &lt;h1&gt;Hello World!&lt;h1&gt;</code></pre>

      <p>The basic information from the list command is repeated, but you will also see networking information and the configuration you supplied. To reach the page served by your instance you need the external IP address and external port (128.135.158.198 and 32113 in this example, the second port number listed). Combining these into a URL (http://128.135.158.198:32113) should allow you to see view your page in a web browser. </p>

      <p>Congratulations, you have deployed an edge service!</p>

      <!-- <h2>11</h2> -->

      <span>11.</span><p>When you are finished with an application instance, you can delete it again:

      <pre><code>$ slate instance delete Instance_586f0424-3097-4b86-8d3b-c4f53ab78e01
Successfully deleted instance Instance_586f0424-3097-4b86-8d3b-c4f53ab78e01</code></pre>

      For more information on using SLATE, such as registering a cluster of your own or obtaining a local development environment, please see the <a href="http://slateci.io/docs/quickstart/" style="color:#286AC7;">SLATE Quickstart documentation</a>.
      
      <p>When you are finished using this page you can (but do not have to) use `exit` to disconnect your terminal. If you want to delete your sandbox environment entirely you can <a href="https://sandbox.slateci.io:5000/sandbox/delete">reset</a> it. Otherwise, your environment will be automatically deleted after a a few days of inactivity. 

    </div>
  </div>
</section>
{%endblock%}
