{%extends "base.html"%}

{%block title%}Sandbox Tutorial{%endblock%}

{%block body%}
<section id="tutorial">
  <div class="w3-row" id="tutorial-container">
    <div class="w3-col m6 w3-center" id="iframe-container" style="height: 100%;">
      <iframe scrolling="yes" align="left" src='{{endpoint}}'></iframe>
    </div>
    <div class="w3-col m6" id="iframe-container-tutorial">
      <!-- <iframe scrolling="yes" align="right" src='{{url_for('tutorial_instructions')}}'></iframe> -->
      <!-- <h2>1</h2> -->

      <span>1.</span>
      <p> In this tutorial, we'll guide you through some SLATE command line client options and launch a simple edge service. </p> 
      <p> On the left pane, we have provided an interactive shell that you can use to run SLATE commands and edit configuration files. Let's start by listing all clusters available in this SLATE federation:</p>
      <pre><code>slate cluster list</code></pre>

      <p>Assuming the client has successfully contacted the SLATE central service, you should see one cluster named 'sandbox'. In a real SLATE federation, you can expect to see many clusters here. </p>

      <!-- <h2>2</h2> -->

      <span>2.</span><p>At any time you can get information about the capabilities of the <code>slate</code> client by running it with the <code>--help</code> option. You can also apply this option to its subcommands (and sub-subcommands) to get more information about them. Running</p>

      <pre><code>slate cluster --help</code></pre>

      <p>will show you that the cluster subcommand has several other subcommands besides just <code>list</code>. </p>

      <!-- <h2>3</h2> -->

      <span>3.</span><p>To use the resources on the SLATE platform, you must first belong to a <em>group</em>. You can list existing groups with:</p>
      <pre><code>slate group list </code></pre> 
      
      <p>For the tutorial, you should create your own group. In practice, most users will want to join an existing grup for reasons that we'll touch on shortly. You can create your group with the command</p>

      <pre><code>slate group create <em style='color: #e83e8c;'>group-name</em> --field technology</code></pre>

      <p>where <code>group-name</code> is the name you choose for your group. Lowercase letters, numbers and dashes are allowed, although the name may not start or end with a dash. <code>--field technology</code> describes the field of science in which your group will work, but for the demo the exact field does not matter.</p>

      <!-- <h2>4</h2> -->

      <span>4.</span><p>In general you cannot use a cluster connected to SLATE without the permission of the cluster owner. Some cluster owners mark their clusters as allowing access for all groups, so you can use them right away, while for others you will need to ask the owners for permission. You can check a given cluster's policies with the <code>slate cluster list-allowed-groups</code> command, which takes the cluster to query as an argument. If you run</p>

      <pre><code>slate cluster list-allowed-groups sandbox</code></pre>

      <p>you should see an asterisk (*) indicating that all groups are allowed, including the one you just created.</p>

      <!-- <h2>5</h2> -->

      <span>5.</span><p>Much like an "app store", the SLATE team curates a catalog of software that can be deployed onto SLATE-enabled clusters. You can check the available applications via:

      <pre><code>slate app list</code></pre>

      <!-- <h2>6</h2> -->

      <p>By default, this command only shows "stable" applications. You can view more applications being developed for SLATE if you use the same command with the <code>--dev</code> flag added. </p>
      <span>6.</span><p>The application we'll deploy for the tutorial is the Nginx HTTP server. First, you'll want to retrieve the SLATE configuration file for Nginx:


      <pre><code>slate app get-conf nginx &gt; my-nginx-settings.yaml</code></pre>

      <p>This will download the default settings and place them in a file for you to edit locally. </p>

      <!-- <h2>7</h2> -->

      <span>7.</span><p>To customize your application settings, open the nginx configuration file (<code>my-nginx-settings.yaml</code>) with an editor (vi, emacs, and nano are available, choose nano if you are unfamiliar). You should see that nginx has two settings: <code>Instance</code> and <code>Data</code>. </p>

      <p><code>Instance</code> is the label to use to mark the particular application instance so that you can remember what it was for when you look at it later. It follows the same naming rules as for group names, but only needs to be unique within your group. For the tutorial, this basically means you don't have to worry about uniqueness. </p>

      <p><code>Data</code> is the HTML document that you want ngnix to display. You can change it to whatever you want so that when you run nginx you will be able to see that it is your personalized instance. </p>

      <!-- <h2>8</h2> -->

      <span>8.</span><p>When you have your configuration file ready you can install the application instance:</p>

      <pre><code>slate app install nginx --group <em style='color: #e83e8c;'>group-name</em> --cluster sandbox --conf my-nginx-settings.yaml</code></pre>

      <p>It is necessary to specify the application, which group will own it, on which cluster you want it to be deployed, and which configuration file to use. </p>

      <p>Installing may take a few seconds, but you should then get a confirmation that your instance was installed, and the ID that was assigned to it. </p>

      <!-- <h2>9</h2> -->

      <span>9.</span><p>To see your new application instance in the SLATE system you can run</p>

      <pre><code>slate instance list --group <em style='color: #e83e8c;'>group-name</em></code></pre>

      <!-- <h2>10</h2> -->

      <span>10.</span><p>To get more information about your instance, including how to access the page that it is serving, use the <code>slate instance info</code> command, which takes the instance ID as an argument. You should see something like:</p>

      <pre><code>$ slate instance info <em style='color: #e83e8c;'>instance_z-A3UUVSfto</em>
Name      Started           Group  Cluster ID
nginx-cnw 2018-Oct-17       cnw    sandbox Instance_586f0424-3097-4b86-
          23:04:07                         8d3b-c4f53ab78e01
          UTC

Services:
Name          Cluster IP    External IP     Ports
cnw-nginx-cnw 10.105.79.115 128.135.158.198 80:32113/TCP

Pods:
  cnw-nginx-cnw-55985cfb76-7p4lz
    Status: Running
    Created: 2018-12-31T20:38:28Z
    Host: sandbox.slateci.io
    Host IP: 128.135.158.198
    Conditions: Initialized at 2018-12-31T20:38:28Z
                Ready at 2018-12-31T20:38:30Z
                ContainersReady at 2018-12-31T20:38:30Z
                PodScheduled at 2018-12-31T20:38:28Z
    Containers:
      nginx
        State: running since 2018-12-31T20:38:29Z
        Ready: true
        Restarts: 0
        Image: docker.io/nginx:1.7.9

Configuration:
Instance: cnw
Data: |-
  &lt;h1&gt;Hello World!&lt;h1&gt;</code></pre>

      <p>The basic information from the list command is repeated, but you will also see networking information, information about the underlying kubernetes (and docker) objects, and the configuration you supplied. To reach the page served by your instance you need the external IP address and external port (128.135.158.198 and 32113 in this example, the second port number listed). Combining these into a URL (http://128.135.158.198:32113) should allow you to see view your page in a web browser. </p>

      <p>Congratulations, you have deployed an edge service!</p>

      <!-- <h2>11</h2> -->

      <span>11.</span><p>When you are finished with an application instance, you can delete it again:

      <pre><code>$ slate instance delete <em style='color: #e83e8c;'>instance_z-A3UUVSfto</em>
Successfully deleted instance instance_z-A3UUVSfto</code></pre>

      For more information on using SLATE, such as registering a cluster of your own or obtaining a local development environment, please see the <a href="http://slateci.io/docs/quickstart/" style="color:#286AC7;">SLATE Quickstart documentation</a>.
      
      <p>When you are finished using this page you can (but do not have to) use <code>exit</code> to disconnect your terminal. If you want to delete your sandbox environment entirely you can <a href="https://sandbox.slateci.io:5000/sandbox/delete" style="color:#286AC7;">reset</a> it. Otherwise, your environment will be automatically deleted after a few days of inactivity. 

    </div>
  </div>
</section>
{%endblock%}
